@import url("https://fonts.googleapis.com/css2?family=Khula:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.body {
  color: #fff;
  font-family: "Khula", sans-serif;
  height: 100vh;
  font-size: 2rem;
  overflow: hidden;
  text-align: center;
}

.slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: margin 0.5s ease-in-out;
  background: linear-gradient(#343c46, #52606e);
}

.slot.up {
  margin-top: -100vh;
}

.title {
  line-height: 1.4;
  font-size: 4rem;
}

.start {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.start:hover {
  color: #423d3d;
}

.time-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.time-list__item {
  margin: 10px;
}

.time-list__button {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.time-list__button:hover {
  color: #0ee;
  border: 2px solid #0ee1;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38 deg, #29323c -4.7%, #485563 200.44%);
  box-shadow: -8px -8px 20px rgb(238, 229, 229), -10px -7px 20px rgb(245, 177, 245);
  border-radius: 30px;
}

.circle {
  width: 50px;
  height: 50px;
  background: linear-gradient(90 deg, #29323c 47%, #485563 200.1%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  top: 0;
  left: 0;
}
